vdisk/src/dtd/vdisk.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 Copyright 2008 Sun Microsystems, Inc.  All Rights Reserved.
 
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

 This program is free software; you can redistribute it and/or modify it
 under the terms of the GNU General Public License version 2 only, as
 published by the Free Software Foundation. This program is distributed in
 the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
 implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 See the GNU General Public License version 2 for more details (a copy is
 included in the LICENSE file that accompanied this code).

 You should have received a copy of the GNU General Public License version 2
 along with this program; If not, see
    http://doc.java.sun.com/DocWeb/license.html.

 Please contact Sun Microsystems, Inc., 4150 Network Circle, Santa Clara,
 CA 95054 USA or visit www.sun.com if you need additional information or
 have any questions.

 DO NOT EDIT THIS FILE.
-->

<!ELEMENT vdisk  (name, version, parent, diskprop, snapshot*)>
<!ATTLIST vdisk readonly   	    (true | false) #REQUIRED
               removable    	    (true | false) #REQUIRED
               cdrom                (true | false) #REQUIRED
               creation-time-epoch  CDATA #REQUIRED
               vtype                CDATA #REQUIRED
               sparse               (true | false) #REQUIRED
               rwcnt                CDATA #REQUIRED
               rocnt                CDATA #REQUIRED
>
<!ELEMENT name (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT diskprop (filename, vdfile, owner, max-size, sectors, description, userprop*)>
<!ELEMENT filename (#PCDATA)>
<!ELEMENT vdfile (#PCDATA)>
<!ELEMENT owner (#PCDATA)>
<!ELEMENT max-size (#PCDATA)>
<!ELEMENT sectors (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT userprop (name, value)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT snapshot (name, vdfile, cow_clone*)>
<!ATTLIST snapshot creation-time-epoch CDATA #REQUIRED>
<!ELEMENT cow_clone (#PCDATA)>
